@import "@/style/container";
@import "@/style/viewports";

.custom_breadcrumbs {
  text-transform: capitalize;
  &__link {
    color: #8b8b8b;
    text-decoration: none;

    &:hover {
      color: #373a24;
    }
  }

  &__active {
    color: #373a24;
  }

  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 8px;
  line-height: 130.49%;
  letter-spacing: 0.26px;

  @include for-size(tablet) {
    font-size: 10px;
    letter-spacing: 0.52px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @include for-size(desktop) {
    font-size: 13px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  &__home {
    height: 10px;
    width: 10px;
    @include for-size(tablet) {
      width: 15px;
      height: 15px;
    }

    @include for-size(desktop) {
      width: 20px;
      height: 20px;
    }
  }

  &__separator {
    color: #8b8b8b;
    margin: 0 4px;
    font-weight: normal;

    @include for-size(tablet) {
      margin: 0 8px;
    }
  }
}
