@import "../style/colors";
@import "../style/container";
@import "../style/viewports";

.card {
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0px 8px 19px 0px rgba(0, 0, 0, 0.11);
  }

  border-radius: 5px;

  position: relative;

  padding: 30px 25px;
  @include for-size(tablet) {
    padding: 35px 40px;
    max-width: 375px;
    height: 430px;
  }

  @include for-size(desktop) {
    height: 480px;
    max-width: 388px;
  }

  &__photo_bike {
    margin-bottom: 29px;

    @include for-size(tablet) {
      width: 245px;
      height: 170px;
    }

    @include for-size(desktop) {
      width: 294px;
      height: 214px;
    }
  }

  &__name {
    margin-bottom: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    gap: 21px;

    &_color {
      display: flex;

      gap: 8px;
      margin-bottom: 21px;
    }

    &_icon {
      display: flex;

      gap: 19px;
    }
  }

  &__color {
    &_dark {
      width: 20px;
      height: 20px;

      border-radius: 100px;
      background: linear-gradient(150deg, #d24545 0%, #4b48e7 100%);
      cursor: pointer;
    }

    &_light {
      width: 20px;
      height: 20px;

      border-radius: 100px;
      background: linear-gradient(151deg, #ed942b 0%, #bd48e7 100%);
      cursor: pointer;
    }
  }

  &__price {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.6px;

    color: #4c5225;

    margin-bottom: 21px;
  }

  &__wrapper_heard {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__wrapper_heard:hover > &__icon_heard {
    fill: #d44848;
  }

  &__wrapper_cart:hover > &__icon_cart,
  &__wrapper_cart:hover > &__text_cart {
    opacity: 0.5;
    fill: #d44848;
    color: #d44848;
    display: block;
  }

  &__wrapper_cart {
    display: flex;
    align-items: center;
    cursor: pointer;

    gap: 7px;
  }

  &__text_cart {
    font-family: Helvetica;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.6px;
    font-weight: 600;

    display: none;
  }

  &__icon_cart,
  &__icon_heard {
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }

  &__icon_liked {
    fill: #d44848;
    opacity: 1;
  }

  &__discount {
    position: absolute;

    right: 0;
    top: 0;

    border-radius: 0px 5px 0px 3px;
    background: var(--ta, #d44848);

    &_text {
      color: #fff;

      font-family: Helvetica;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.6px;

      padding: 8px 16px;
    }
  }
}
