@import "@/style/viewports";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  @include for-size(desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.image {
  width: 90%;
  @include for-size(desktop) {
    width: 55%;
  }
}

.text {
  width: 90%;
  @include for-size(desktop) {
    align-self: flex-start;
    width: 40%;
  }
}
