@import "@/style/viewports";
@import "@/style/container";
@import "@/style/colors";

.info_and_buy_section {
  padding-top: 30px;
  margin-bottom: 60px;

  &__slider_container {
    flex-shrink: 0;

    & h2 {
      margin-bottom: 40px;
    }
  }

  @include for-size(tablet) {
    &__wrap {
      display: flex;
      gap: 10px;
    }

    &__slider_container {
      width: 357px;

      & h2 {
        display: none;
      }
    }
  }

  @include for-size(desktop) {
    &__wrap {
      gap: 60px;
    }

    &__slider_container {
      width: 725px;
    }
  }
}

.info_and_buy_container {
  width: 100%;
  @include for-size(tablet) {
    padding-left: 15px;
  }

  & h2 {
    display: none;
  }

  @include for-size(tablet) {
    & h2 {
      display: block;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 12px;
  }

  &__colors_list {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;

    & li {
      padding: 0;
      border: none;
      width: 34px;
      height: 34px;
      border-radius: 1000px;

      &.active {
        border: 5px solid rgba(255, 255, 255, 0.6);
      }
    }
  }

  &__size_list {
    display: flex;
    gap: 8px;
    margin-bottom: 30px;

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      border: 1px solid rgba(0, 0, 0, 0);

      &.active {
        border: 1px solid #cecece;
      }
    }
  }

  &__discount_container {
    margin-bottom: 34px;

    & > div {
      display: flex;
      align-items: center;
      gap: 18px;
      margin-bottom: 18px;
    }

    &__price {
      font-size: 20px;
      color: #8b8b8b;
      text-decoration: line-through;
    }

    &__discount {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 59px;
      height: 29px;
      border-radius: 5px;

      font-size: 15px;
      color: #fff;
      background-color: $default-red;
    }

    &__calc_price {
      font-size: 30px;
      color: #849339;
    }
  }

  &__price {
    margin-bottom: 34px;
    font-size: 30px;
    color: #849339;
  }

  &__buy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 18px;
    margin-bottom: 46px;
    padding-top: 34px;
    border-top: 1px solid #d8d8d8;

    &__add_btn {
      width: 100%;
      height: 56px;
      background-color: $default-red;
      color: #fff;
      border: none;
    }

    &__order_btn {
      padding: 0;
      width: 100%;
      height: 56px;

      border: 1px solid $default-red;
      color: $default-red;
    }

    &__favorite_btn {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      border: 1px solid #000;

      & svg {
        width: 23px;
        height: 23px;
      }

      &.active {
        border: 1px solid $default-red;

        & svg {
          fill: $default-red;
        }
      }
    }
  }

  @include for-size(tablet) {
    &__buy {
      &__order_btn {
        width: 100%;
      }
    }
  }
}

.info_and_buy_description {
  &__wariables {
    display: flex;
    gap: 16px;
    margin-bottom: 30px;

    & button {
      padding: 0;
      border: 0;

      &.active {
        font-weight: 700;
      }
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__button {
    padding: 0;
    border: 0;
    color: #4c5225;
  }
}

.equipment_component {
  & h2 {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}

.picture_component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 70px;
  margin-bottom: 60px;
  width: 100%;

  position: relative;
  z-index: 1;
  background-color: #000;

  &::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;

    background-image: url("https://s3-alpha-sig.figma.com/img/0306/aa32/22548add51f430bb8096f24bd7b00183?Expires=1694995200&Signature=YYPhSQAZZiCiioBHfQIrrMJ0F-YG-RpyUfq~LOHDKLjMT5EVmE9UwvaXIWQvQU4jJiaykMFlEOP7g8viZvYe9XehToZck20cvM-CNlNE39dSO7kW~Kdm2DsFe5eCitFWgD00usut15eyT8m~ZcgsIP8MmL90amYTlAqCZkZUwv0ipzLrAHAGcjGXjvF-qnsZocojdnfTDnddYHZB29v0yuI4kXqAf5zIkvK4XQu1PtH8X1N6q-eLzoUCiqRsgl3J5H1Ev2qQz2UtHOJpHgVw0HCRXZPdnP4Yv7QkiZD866BqwXjoRaTNtHcvmi~STxYIfYRgW14sWaNF0XHkoEJK5Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  & p {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }

  @include for-size(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;

    & p {
      font-size: 35px;
    }
  }

  @include for-size(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;

    & p {
      font-size: 55px;
    }
  }
}

.bikes_from_this_series {
  padding-bottom: 30px;

  &__title {
    margin-bottom: 30px;
  }
}

.already_in_cart {
  width: 100%;
}
